#about .about{
     flex-direction: column-reverse;
     text-align: center;
     max-width: 1200px;
     margin: 0 auto;
     padding: 100px 20px;
}
#about .col-left{
	width: 250px;
	height: 360px;

}
#about .col-left{
	width: 100%;
}
